# dependencies (bun install)
node_modules

# IntelliJ based IDEs
.idea

# Finder (MacOS) folder config
.DS_Store

examples/*
prev
state/

# Local user config; install copies config-template.ason here.
/config.ason
auth.ason
hal.js
